<div id="templatemo_main">
    <div class="col_w900 col_w900_last">
                   
                        <h2 style="font-family:'Times New Roman', Times, serif; font-size:24px; font-weight:bold">FIRE EXTINGUISHER :</h2>
                        <p style="font-family:'Times New Roman', Times, serif; font-size:24px; font-weight:bold">&nbsp;</p>
                        <div class="news_box">
                         <h4>MECHANICAL FOAM (AFFF) FIRE EXTINGUISHERS:- </h4>
                        <img src="images/fire extinguisher/fe1.jpg" alt="fome" width="146" height="146" />
                      
                      <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;</p>
                      <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Useful for Class 'A' & Class 'B' fires involving flammable liquids such as Naptha, Paints, Solvents, Tar, Varnish, Benzene Camphor and fats like Grease and Oils, Solids like Resins and Oils, Solids like Resins and Pigments. Foam Extinguishers fire by blanketing (Cutting off atmospheric supply of oxygen to the burning surface) and cooling down the container and the contents.</p>
                      <p>
                    <h4>&nbsp;</h4>
                    <h4>&nbsp;</h4>
                    <h4>SECIFICATION :</h4>
                    <table width="600px" border="1px black">
                    <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">B.I.S. Specification</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">10204 : Latest.</p></strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Capacity</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">9 Litres with ISI mark.</p> </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Spec.5507</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">50 litres mounted on 2 rubber wheel trolley, Each appliance comes with initial charge.</p></strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Type</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">Upright.</p> </strong>               
                    </td>
                    </tr>
                    </table>
                    </p>
                    <p>&nbsp;</p>
            </div>
                
      <div class="news_box">
       <h4>STORE PRESSURE TYPE DRY CHEMICAL POWDER FIRE EXTINGUISHERS:-</h4>
      <img src="images/fire extinguisher/dry chemical.jpg" alt="chemical" width="181" height="107" />
       
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;</p>
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Useful for class A, B & C fires involving wood, cotton, flammable liquids, grease, electrical wiring, live machineries etc. The blanketing effect of ABC powder decomposes fire quickly. </p>
              <div class="cleaner"></div>
                <p class="date">
              <h4>SECIFICATION :</h4>
                    <table width="600px" border="1px black">
                    <tr>
                    <td width="196">
                    <strong>
                    <p style="font-size:12px">Capacity</p>
                    </strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">1 Kg, 2 Kg, 5 Kg, 10 Kg &amp; above.</p>
                    </strong>                </td>
                    </tr>
                    </table>
                </p>
                <p>&nbsp;</p>
      </div>
      <h4>WATER CO2 TYPE FIRE EXTINGUISHERS:-</h4>
    <div class="news_box"><img src="images/fire extinguisher/co2.jpg" alt="co2" width="178" height="145" />
      <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;</p>
      <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Useful for Class 'A' fires involving ordinary carbonaceous materials such as Wood, Paper, Cotton, Jute etc. Water CO2 type extinguishers fire by cooling and quenching effects.</p>
      <div class="cleaner"></div>
      <br>
      <br>
      <br>
              <p> <h4>SECIFICATION :</h4>
                    <table width="600px" border="1px black">
                    <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">B.I.S. Specification</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">940 : Latest.</p>
                    </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Capacity</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">9 Litres with ISI mark 50 Litres duly mounted on 2 wheel rubber trolley with charge also available.</p> </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Type</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">Cylindrical.</p> 
                    </strong>                </td>
                    </tr>
                    </table>
                    </p>
                    <p>&nbsp;</p>
    </div>
              <h4>CO2 FIRE EXTINGUISHERS:-</h4>  
            <div class="news_box"><img src="images/fire extinguisher/download.jpg" alt="co2" width="146" height="146" />
              
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;</p>
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Useful for class 'B' & 'C' fires involving materials like Fabric, Oil Spillages and delicate machineries. CO2 extinguishers fire by blanketing dilution of oxygen and cooling effects. </p>
              <div class="cleaner"></div>
              <br>
              <br>
              <br>
          
                    <p> <h4>SECIFICATION :</h4>
                       <table width="600px" border="1px black">
                    <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">B.I.S. Specification</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">2878 : Latest.</p>
                    </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Capacity</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">1 to 6.5 kg. & 22.5 kg available. Appliances of 50/100 lbs capacity mounted on trolley wheels are also available.</p> </strong>               
                    </td>
                    </tr>
                    </table>
                    </p>
                    <p>&nbsp;</p>
            </div>
        
         <div class="news_box">
         <h4>DRY CHEMICAL POWDER FIRE EXTINGUISHERS:-</h4>
            <img src="images/fire extinguisher/dry.jpg" alt="dry" width="162" height="148" />
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;</p>
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Useful for class B & C fires involving Oils, Fats, Solvents, Gases, Paints, Varnish, Electrical Wiring and Live Machineries. Dry chemical powder extinguishes fire by beating, displacement of air and decomposition of dry powder effects.</p>
              <div class="cleaner"></div>
              <br>
              <br>
              <br>
                    <p><h4>SECIFICATION :</h4>
                    <table width="600px" border="1px black">
                    <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">B.I.S. Specification</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">2171 : Latest.</p>
                    </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Capacity</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong><p style="font-size:12px">1 to 10 kg. with ISI mark 22.5 kgs, 50 kgs, 70 kgs also available.</p> </strong>               
                    </td>
                    </tr>
                     <tr>
                    <td width="196">
                    <strong><p style="font-size:12px">Type</p></strong>               
                    </td>
                    <td width="77" align="center">
                    <strong>:</strong>                
                    </td>
                    <td width="313">
                    <strong>
                    <p style="font-size:12px">Cylindrical, Upright.</p> 
                    </strong>                </td>
                    </tr>
                    </table></p>
                    <p>&nbsp;</p>
         </div>
           
              <div class="news_box">
              <h4>CO2 GAS CARTRIDGES:-</h4>
                <img src="images/fire extinguisher/cartage.jpg" alt="cartage" width="160" height="160" />
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">&nbsp;         </p>
              <p style="font-family:'Times New Roman', Times, serif; font-size:14px">Manufactured from seamless tube, available in 20 gms to 300 gms with ISI mark. Also available in 500 gms Conforming to BIS. Duly filled with CO2 Gas. Used in all types of fire extinguishers. 
              </p>
              <p class="date">&nbsp;</p>
          </div>  
          </div>
          </div>
          <div class="cleaner">
            
              <h3 style="font-family:'Times New Roman', Times, serif">&nbsp;</h3>
                  <h3 style="font-family:'Times New Roman', Times, serif">&nbsp;&nbsp;&nbsp;&nbsp;Our Clients :</h3>
              <marquee behavior="scroll" direction="left" onmousemove="stop()" onmouseout="start()" scrollamount="6" width="100%">
              <img src="images/brand names/c1.png" alt="c1" width="150" height="120" />&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c2.png" alt="c2" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c3.png" alt="c3" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c4.png" alt="c4" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c5.png" alt="c5" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c6.png" alt="c6" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
               <img src="images/brand names/c7 .png" alt="c7" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c8.png" alt="c8" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c9.png" alt="c9" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c10.png" alt="c10" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c11.png" alt="c11" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c12.png" alt="c12" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c13.png" alt="c13" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c14.png" alt="c14" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c15.png" alt="c15" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c16.png" alt="c16" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c17.png" alt="c17" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c18.png" alt="c18" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c19.png" alt="c19" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c20.png" alt="c20" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c21.png" alt="c21" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c22.png" alt="c22" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c23.png" alt="c23" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c24.png" alt="c24" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c25.png" alt="c25" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c26.png" alt="c26" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c27.png" alt="c27" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c28.png" alt="c28" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c30.png" alt="c30" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c31.png" alt="c31" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c32.png" alt="c32" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c34.png" alt="c34" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c35.png" alt="c35" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c36.png" alt="c36" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c37.png" alt="c37" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c38.png" alt="c38" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c39.png" alt="c39" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c40.png" alt="c40" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c41.png" alt="c41" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c42.png" alt="c42" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c43.png" alt="c43" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c44.png" alt="c44" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c45.png" alt="c45" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c46.png" alt="c46" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c47.png" alt="c47" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c48.png" alt="c48" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c49.png" alt="c49" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c50.png" alt="c50" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c51.png" alt="c51" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c52.png" alt="c52" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c53.png" alt="c53" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c54.png" alt="c54" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c55.png" alt="c55" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c56.png" alt="c56" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c57.png" alt="c57" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c58.png" alt="c58" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c59.png" alt="c59" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c60.png" alt="c60" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c61.png" alt="c61" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c62.png" alt="c62" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c63.png" alt="c63" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c64.png" alt="c64" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c65.png" alt="c65" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c66.png" alt="c66" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c67.png" alt="c67" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c68.png" alt="c68" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c69.png" alt="c69" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c70.png" alt="c70" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c71.png" alt="c71" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c72.png" alt="c72" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c80.png" alt="c80" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c81.png" alt="c81" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c82.png" alt="c82" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c83.png" alt="c83" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c84.png" alt="c84" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c85.png" alt="c85" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c86.png" alt="c86" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c87.png" alt="c87" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c88.png" alt="c88" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c89.png" alt="c89" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c90.png" alt="c90" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c91.png" alt="c91" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c92.png" alt="c92" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c93.png" alt="c93" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c94.png" alt="c94" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c95.png" alt="c95" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c96.png" alt="c96" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="images/brand names/c97.png" alt="c97" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
              </marquee>
              </div>
                </div>