<footer>
	<div class=" footer">
		<div class="row">
			<div class="col-md-3 footerBlock">
				<p>Regd. Office </p>
				Osmanpura,Below Osmanpura Post Office,Aurangabad-431005 	
				<br>Mb.:09545011432/09823919575,
				<br>Office:(0240)2361432
			</div>
			<div class="col-md-3 footerBlock"><p>Pune Office </p>Shop No.1&amp;2, Shubham Apartment,1264,Near Sujata Mastani,Sadashiv Peth,Pune-30 Cell 9823919575
			</div>
			<div class="col-md-3 footerBlock">
				<p>Contact Us </p> infojyotienterprises@gmail.com<br>www.jyotienterprises.hpage.com
			</div> 
			<div class="col-md-3 footerBlock"><p>ITI Trades</p>
				<ul class="treadLinks">
					<li><a rel="dofollow" href="http://dget.gov.in/upload/uploadfiles/files/1_CTS_WELDER.pdf" target="_blank"><span>Welder</span></a></li>
					<li><a rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/ELECTRICIAN(1).pdf" target="_blank"><span>Electrician</span></a></li>
					<li><a rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/Wireman(1).pdf" target="_blank"><span>Wireman</span></a></li>
					<li><a rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/PAINTER_GENERAL.pdf" target="_blank"><span>Painter</span></a></li>
					<li><a rel="dofollow" href="http://www.dget.nic.in/upload/uploadfiles/files/CTSTurner.pdf" target="_blank"><span>Turner</span></a></li>
					
				</ul>
			</div> 
		</div>
	</div>
	<div class="" id="copyright">
		<div class="row">
		<div class="col-md-8 copyright">
			<p> Copyright © 2015. 
			<span>
				<a 	rel="dofollow" 
					href="http://dget.nabet.qci.org.in/ExistingAndNewPage.aspx">Jyoti Enterprises</a>
			</span> All Rights Reserved.
			</p>
		</div>
		<div class="col-md-4">
			<div class="foot-left"> 
				<a href="https://www.facebook.com/jyotientp" rel="dofollow">
					<img src="images/fb.png" width="25" height="25">
				</a>
				<a href="#" rel="dofollow">
					<img src="images/tw.png" width="25" height="25">
				</a>
				<a href="#" rel="dofollow">
					<img src="images/in.png" width="25" height="25">
				</a>
				<a href="#" rel="dofollow">
					<img src="images/yt.png" width="25" height="25">
				</a> 
			</div>
		</div>
		</div>
	</div>
</footer>