                        <div id="templatemo_main">
                                <div class="col_w900 col_w900_last">
                                     
                                         
                                                    
                                                    <p class="post_meta">&nbsp;</p>
                                                    <h2 style="font-family:'Times New Roman', Times, serif; font-size:24px; font-weight:bold">Intrusion System :</h2>
                                          <p style="font-size:16px; font-family:'Times New Roman', Times, serif; color:#333333">Intrusion detection is the act of detecting unwanted 
                                              traffic on a network or a device. An IDS can be a piece
                                              of installed software or a physical appliance that 
                                              monitors network traffic in order to detect unwanted 
                                              activity and events such as illegal and malicious 
                                              traffic, traffic that violates security policy, and traffic 
                                              that violates acceptable use policies. Many IDS tools 
                                              will also store a detected event in a log to be reviewed 
                                              at a later date or will combine events with other data 
                                              to make decisions regarding policies or damage 
                                              control. An IPS is a type of IDS that can prevent or 
                                              stop unwanted traffic. The IPS usually logs such 
                                          events and related information.</p>
                                            <p  style="font-size:16px; font-family:'Times New Roman', Times, serif;color:#333333">
                                        <strong>Technologies :</strong></p>
                                        <p style="font-size:16px; font-family:'Times New Roman', Times, serif; color:#333333">
                                          Several types of IDS technologies exist due to the 
                                          variance of network configurations. Each type has 
                                          advantages and disadvantage in detection, 
                                          configuration, and cost. Specific categories will be 
                                          discussed in detail in Section 3, Technologies.
                                        <ul style="font-size:16px; font-family:'Times New Roman', Times, serif; color:#333333">
                                          <li>Network Based</li>
                                          <li>Network Behavior Anomaly Detection</li>
                                          <li>Host-Based</li>
                                          <li>Wireless</li>
                                        </ul>
                                        </p>
                                         <div class="cleaner"></div>
                                           
                                            <img src="images/intursion/2.jpg" alt="img1" width="158" height="134" />
                                            &nbsp;&nbsp;
                                            <img src="images/intursion/images (3).jpg" alt="img2" width="145" height="144"/>
                                            &nbsp;&nbsp;
                                            <img src="images/intursion/images (10).jpg" alt="img3" width="158" height="134"/>
                                            &nbsp;&nbsp;
                                            <img src="images/intursion/images.jpg" alt="img4" width="158" height="134"/>
                                            &nbsp;&nbsp;
                                            <img src="images/intursion/3.jpg" alt="img5" width="158" height="134"/>         
                                          <div class="cleaner">
                                            
                                
                                
                                              <div class="cleaner">
            
                                                  <h3 style="font-family:'Times New Roman', Times, serif">&nbsp;</h3>
                                                        <h3 style="font-family:'Times New Roman', Times, serif">&nbsp;&nbsp;&nbsp;&nbsp;Our Clients :</h3>
                                                  <marquee behavior="scroll" direction="left" onmousemove="stop()" onmouseout="start()" scrollamount="6" width="100%">
                                                  <img src="images/brand names/c1.png" alt="c1" width="150" height="120" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c2.png" alt="c2" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c3.png" alt="c3" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c4.png" alt="c4" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c5.png" alt="c5" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c6.png" alt="c6" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                   <img src="images/brand names/c7 .png" alt="c7" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c8.png" alt="c8" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c9.png" alt="c9" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c10.png" alt="c10" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c11.png" alt="c11" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c12.png" alt="c12" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c13.png" alt="c13" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c14.png" alt="c14" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c15.png" alt="c15" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c16.png" alt="c16" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c17.png" alt="c17" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c18.png" alt="c18" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c19.png" alt="c19" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c20.png" alt="c20" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c21.png" alt="c21" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c22.png" alt="c22" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c23.png" alt="c23" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c24.png" alt="c24" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c25.png" alt="c25" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c26.png" alt="c26" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c27.png" alt="c27" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c28.png" alt="c28" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c30.png" alt="c30" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c31.png" alt="c31" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c32.png" alt="c32" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c34.png" alt="c34" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c35.png" alt="c35" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c36.png" alt="c36" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c37.png" alt="c37" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c38.png" alt="c38" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c39.png" alt="c39" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c40.png" alt="c40" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c41.png" alt="c41" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c42.png" alt="c42" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c43.png" alt="c43" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c44.png" alt="c44" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c45.png" alt="c45" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c46.png" alt="c46" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c47.png" alt="c47" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c48.png" alt="c48" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c49.png" alt="c49" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c50.png" alt="c50" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c51.png" alt="c51" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c52.png" alt="c52" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c53.png" alt="c53" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c54.png" alt="c54" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c55.png" alt="c55" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c56.png" alt="c56" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c57.png" alt="c57" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c58.png" alt="c58" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c59.png" alt="c59" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c60.png" alt="c60" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c61.png" alt="c61" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c62.png" alt="c62" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c63.png" alt="c63" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c64.png" alt="c64" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c65.png" alt="c65" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c66.png" alt="c66" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c67.png" alt="c67" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c68.png" alt="c68" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c69.png" alt="c69" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c70.png" alt="c70" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c71.png" alt="c71" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c72.png" alt="c72" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c80.png" alt="c80" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c81.png" alt="c81" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c82.png" alt="c82" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c83.png" alt="c83" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c84.png" alt="c84" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c85.png" alt="c85" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c86.png" alt="c86" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c87.png" alt="c87" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c88.png" alt="c88" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c89.png" alt="c89" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c90.png" alt="c90" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c91.png" alt="c91" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c92.png" alt="c92" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c93.png" alt="c93" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c94.png" alt="c94" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c95.png" alt="c95" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c96.png" alt="c96" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  <img src="images/brand names/c97.png" alt="c97" width="150" height="120"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                                  </marquee>
                                                  </div>
                                                </div>                                