<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<header class="navbar-header">
				<button type="button" 
						class="navbar-toggle collapsed" 
						data-toggle="collapse" 
						data-target="#navbar" 
						aria-expanded="false" 
						aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a 	class="navbar-brand" 
					rel="dofollow" 
					href="http://dget.nabet.qci.org.in/ExistingAndNewPage.aspx">
					S.P.FIRE SYSTEM
				</a>
			</header>
			<nav id="navbar" class="navbar-collapse collapse ">
				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{'active':(pageClass=='home')}">
						<a rel="dofollow" href="#">Home</a>
					</li>
					<li ng-class="{'active':(pageClass=='blogs')}">
							<a rel="dofollow" href="#blogs">Product</a>
						</li>
					<li ng-class="{'active':(pageClass=='clients')}">
						<a rel="dofollow" href="#clients">Clients</a>
					</li>
					       
					<li ng-class="{'active':(pageClass=='contacts')}">
						<a rel="dofollow" href="#contacts">Contact</a>
					</li>  
								
			  </ul>
			</nav><!--/.nav-collapse -->
	  </div>
	</nav>
	